---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<html>
  <body>
    {posts.map(post => (
      <article>
        <h1>{post.data.title}</h1>
        <p>{post.data.description}</p>
        <slot />
      </article>
    ))}
  </body>
</html>
